{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for the site branding block.
 */
#}
{% block content %}
  <div class="tomoni-site-branding">
    {% if site_logo %}
      <a class="tomoni-site-branding__logo-link" href="{{ path('<front>') }}" rel="home">
        <img class="tomoni-site-branding__logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
      </a>
    {% endif %}

    {% if site_name %}
      <a class="tomoni-site-branding__link" href="{{ path('<front>') }}" rel="home">
        <span class="tomoni-site-branding__name">{{ site_name }}</span>
      </a>
    {% endif %}

    {% if site_slogan %}
      <div class="tomoni-site-branding__slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
{% endblock %}
